body {
  /*padding-top: 70px;*/
}
.container{
	width: 1000px;
}
.post-list tr td .btn-group{
	margin-top: -8px;
	margin-bottom: -8px;
}

.editor-container-full{;
	width: 100%;
}
.editor-container-full textarea{
	width: 100%;
}
.pagination{
	margin: 0 0 ;
}

.text-default{
	color:#333;
}

.panel-sm{
	max-width: 400px;
}
.doc-container{
	max-width: 800px;
	margin: 0 auto;
}

.option-level-1{
}
.option-level-2{
	/*padding-left: 20px;*/
	margin-left: 20px;
}
.option-level-3{
	/*padding-left: 40px;*/
	margin-left: 40px;
}
.option-level-4{
	/*padding-left: 60px;*/
	margin-left: 60px;
}

.category-level-1{

}
.category-level-2{
	margin-left: 20px;
}
.category-level-3{
	margin-left: 40px;
}
.category-level-4{
	margin-left: 60px;
}
.category-level-5{
	margin-left: 80px;
}
.category-level-6{
	margin-left: 100px;
}

/*
 * Footer
 */

.footer {
margin-top: 50px;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.footer a{
	color:#999;
}

/*File upload style*/
.file-view {
	margin-bottom: 10px;
}
.file-view .cover img{
	max-width: 100%;
}

.fileinput-button {
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
.td-sm{
	width: 200px;
}
.td-xs{
	width: 50px;
}

.mb-10{
	margin-bottom: 10px;
}


/* Fixes for IE < 8 */
@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity=0);
		font-size: 100%;
		height: 100%;
	}
}
